[flake8]
max-line-length = 100
ignore = 
    E501,
    W503,
    W504,
    E203,
    E266
per-file-ignores = 
    __init__.py:F401
    tests/*:E712,F841
    generate/*:F401,F841
    phase*-*.py:ALL
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    *.pyc
